- Roll No. : CB.EN.U4CSE20208
- Name : Aravind S

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive/MyDrive/nifty_500.csv')

Dataset Glossary (Column-Wise)
Company Name: Name of the Company.

Symbol: A stock symbol is a unique series of letters assigned to a security for trading purposes.

Industry: Name of the industry to which the stock belongs.

Series: EQ stands for Equity. In this series intraday trading is possible in addition to delivery and BE stands for Book Entry. Shares falling in the Trade-to-Trade or T-segment are traded in this series and no intraday is allowed. This means trades can only be settled by accepting or giving the delivery of shares.

Open: It is the price at which the financial security opens in the market when trading begins. It may or may not be different from the previous day's closing price. The security may open at a higher price than the closing price due to excess demand for the security.

High: It is the highest price at which a stock is traded during the course of the trading day and is typically higher than the closing or equal to the opening price.

Low: Today's low is a security's intraday low trading price. Today's low is the lowest price at which a stock trades over the course of a trading day.

Previous Close: The previous close almost always refers to the prior day's final price of a security when the market officially closes for the day. It can apply to a stock, bond, commodity, futures or option co-contract, market index, or any other security.

Last Traded Price: The last traded price (LTP) usually differs from the closing price of the day. This is because the closing price of the day on NSE is the weighted average price of the last 30 mins of trading. The last traded price of the day is the actual last traded price.

Change: For a stock or bond quote, change is the difference between the current price and the last trade of the previous day. For interest rates, change is benchmarked against a major market rate (e.g., LIBOR) and may only be updated as infrequently as once a quarter.

Percentage Change: Take the selling price and subtract the initial purchase price. The result is the gain or loss. Take the gain or loss from the investment and divide it by the original amount or purchase price of the investment. Finally, multiply the result by 100 to arrive at the percentage change in the investment.

Share Volume: Volume is an indicator that means the total number of shares that have been bought or sold in a specific period of time or during the trading day. It will also involve the buying and selling of every share during a specific time period.

Value (Indian Rupee): Market value—also known as market cap—is calculated by multiplying a company's outstanding shares by its current market price.

52-Week High: A 52-week high is the highest share price that a stock has traded at during a passing year. Many market aficionados view the 52-week high as an important factor in determining a stock's current value and predicting future price movement. 52-week High prices are adjusted for Bonus, Split & Rights Corporate actions.

52-Week Low: A 52-week low is the lowest share price that a stock has traded at during a passing year. Many market aficionados view the 52-week low as an important factor in determining a stock's current value and predicting future price movement. 52-week low prices are adjusted for Bonus, Split & Rights Corporate actions.

365 Day Percentage Change: Percent change is calculated with respect to adjusted price on ex-date for Corporate Actions like Dividend, Bonus, Rights & Face Value Split and also adjusted for Past Dividend, Bonus, Rights & Face Value Split and also adjusted for Past 365 days.

30 Day Percentage Change: Percent change is calculated with respect to adjusted price on ex-date for Corporate Actions like Dividend, Bonus, Rights & Face Value Split and also adjusted for Past 30 days.

In [5]:
df.sample(5)

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
195,Hikal Ltd.,HIKAL,Healthcare,EQ,239.85,243.6,234.15,239.0,238.95,-0.05,-0.02,386423,9.226236e+07,742.0,212.00,-51.31,-27.67
303,Mahanagar Gas Ltd.,MGL,Oil Gas & Consumable Fuels,EQ,760.55,771.0,757.05,760.6,770.70,10.10,1.33,170132,1.302616e+08,1212.0,665.80,-33.08,0.56
41,Aurobindo Pharma Ltd.,AUROPHARMA,Healthcare,EQ,512.25,524.0,506.50,513.1,522.75,9.65,1.88,831959,4.290329e+08,1013.0,503.45,-46.84,-3.33
22,Amara Raja Batteries Ltd.,AMARAJABAT,Automobile and Auto Components,EQ,459.10,471.7,456.05,458.7,469.50,10.80,2.35,438273,2.027276e+08,781.6,438.05,-38.43,-8.69
484,V.I.P. Industries Ltd.,VIPIND,Consumer Durables,EQ,626.50,631.8,606.40,626.5,618.90,-7.60,-1.21,125113,7.747372e+07,774.6,374.00,56.41,8.04

In [6]:
df.describe()

,Open,High,Low,Previous Close,Last Traded Price,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low
count,501.000000,501.000000,501.000000,501.000000,501.000000,5.010000e+02,5.010000e+02,501.000000,501.000000
mean,1525.904491,1553.804990,1504.042415,1528.061277,1536.925449,2.580350e+06,8.635146e+08,2182.632196,1281.628982
std,4466.627117,4576.377692,4435.492332,4477.209376,4532.004734,9.407021e+06,4.335973e+09,5728.930152,3850.529646
min,6.750000,6.950000,6.700000,6.850000,6.800000,1.507000e+03,2.587223e+06,13.100000,4.550000
25%,215.300000,221.550000,210.600000,217.200000,214.650000,7.740500e+04,4.502265e+07,328.700000,166.800000
50%,551.100000,569.100000,547.000000,554.750000,563.000000,3.296100e+05,1.533133e+08,818.000000,438.050000
75%,1404.500000,1421.250000,1396.850000,1411.700000,1410.000000,1.235612e+06,6.644570e+08,2096.750000,1128.800000
max,70300.000000,72500.000000,70300.000000,70800.900000,71900.000000,1.257883e+08,9.211987e+10,87550.000000,63000.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Name               501 non-null    object
 1   Symbol                     501 non-null    object
 2   Industry                   501 non-null    object
 3   Series                     501 non-null    object
 4   Open                       501 non-null    float64
 5   High                       501 non-null    float64
 6   Low                        501 non-null    float64
 7   Previous Close             501 non-null    float64
 8   Last Traded Price          501 non-null    float64
 9   Change                     501 non-null    object
 10  Percentage Change          501 non-null    object
 11  Share Volume               501 non-null    int64
 12  Value (Indian Rupee)       501 non-null    float64
 13  52 Week High               501 non-null    float64
 14  52 Week Low                501 non-null    float64
 15  365 Day Percentage Change  501 non-null    object
 16  30 Day Percentage Change   501 non-null    object
dtypes: float64(8), int64(1), object(8)
memory usage: 66.7+ KB

In [8]:
df.corr()

,Open,High,Low,Previous Close,Last Traded Price,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low
Open,1.000000,0.999913,0.999922,0.999983,0.999832,-0.073017,0.015560,0.990757,0.994696
High,0.999913,1.000000,0.999972,0.999948,0.999973,-0.072560,0.015471,0.990122,0.994539
Low,0.999922,0.999972,1.000000,0.999958,0.999957,-0.072955,0.013760,0.990240,0.994778
Previous Close,0.999983,0.999948,0.999958,1.000000,0.999890,-0.072869,0.015826,0.990570,0.994867
Last Traded Price,0.999832,0.999973,0.999957,0.999890,1.000000,-0.072868,0.014145,0.989987,0.994556
Share Volume,-0.073017,-0.072560,-0.072955,-0.072869,-0.072868,1.000000,0.355911,-0.081720,-0.071625
Value (Indian Rupee),0.015560,0.015471,0.013760,0.015826,0.014145,0.355911,1.000000,0.010011,0.014308
52 Week High,0.990757,0.990122,0.990240,0.990570,0.989987,-0.081720,0.010011,1.000000,0.991259
52 Week Low,0.994696,0.994539,0.994778,0.994867,0.994556,-0.071625,0.014308,0.991259,1.000000

In [25]:
#HYPOTHETICAL TESTING :
#Z-TEST

In [12]:
x =df['Share Volume'][df['Industry']=='Healthcare'].mean()
x

300019.3653846154

In [15]:
z = df['Share Volume'][df['Industry']=='Healthcare']
sample = z.sample(36)
a = sample.mean()
a

288521.97222222225

In [14]:
y =df['Share Volume'][df['Industry']=='Healthcare'].std()
y

455996.1289782385

In [10]:
#problem statement
#Healthcare industries has average share volume of x and standard deviation of y recorded over past 2 weeks. A sample of 36 has been recorded with mean of a. There is a claim made by business analysts that average mean has not been changed. Is there enough evidence to reject the claim?

In [16]:
#h0 : mean = x
#h1: mean != x

In [17]:
#using two tailed test
alpha=0.05

b = a
n = 36
std = y

In [21]:
z= (a-x)/(std/np.sqrt(n))
z

-0.15128277323084668

In [23]:
z_critical = st.norm.ppf(alpha/2)
z_critical

-1.9599639845400545

In [24]:
if (z>z_critical or z<(-z_critical)):
  print('Rejecting Null Hypothesis')
else:
  print('Fail to Reject Null Hypothesis')

Rejecting Null Hypothesis

In [26]:
#T-Test

In [28]:
x =df['Last Traded Price'][df['Industry']=='Textiles'].mean()
x

4756.17

In [34]:
z =df['Last Traded Price'][df['Industry']=='Textiles']
sample = z.sample(5)
a=sample.mean()
a

987.35

In [32]:
y =df['Last Traded Price'][df['Industry']=='Textiles'].std()
y

12853.547430685776

In [33]:
#problem statement
#Textile industries has average last trade of x and standard deviation of y recorded over past 2 weeks. A sample of 15 has been recorded with mean of a. There is a claim made by business analysts that average mean is greater than 4000 . Is there enough evidence to reject the claim?

In [36]:
t= (a-4000)/(y/np.sqrt(n))
t

-1.4062965961324185

In [37]:
dof = n-1

In [38]:
t_critical = st.t.ppf(alpha/2, dof)
t_critical

-2.030107928250343

In [40]:
if (t < t_critical): #Right-tailed test
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis