In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [4]:
stock=pd.read_csv('RIL Stock Price.csv')
stock

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RELIANCE,EQ,1-Jan-16,1014.60,1009.80,1018.9,1008.20,1013.6,1015.35,1015.52,1238135,1.257353e+09,30701,529539,42.77
1,RELIANCE,EQ,4-Jan-16,1015.35,1005.00,1013.8,986.70,993.2,995.30,998.91,6896571,6.889070e+09,66235,4974602,72.13
2,RELIANCE,EQ,5-Jan-16,995.30,1000.30,1010.0,997.00,1005.0,1005.15,1003.41,3416459,3.428125e+09,59935,1987804,58.18
3,RELIANCE,EQ,6-Jan-16,1005.15,1007.60,1038.4,1000.40,1029.1,1032.20,1028.15,6116855,6.289073e+09,160947,2912662,47.62
4,RELIANCE,EQ,7-Jan-16,1032.20,1021.05,1028.0,1008.05,1018.9,1013.25,1016.73,4512219,4.587700e+09,105075,2474491,54.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,RELIANCE,EQ,30-Apr-21,2024.05,2008.50,2036.0,1987.55,1995.9,1994.50,2010.20,9150974,1.839532e+10,288687,3902504,42.65
1320,RELIANCE,EQ,3-May-21,1994.50,1966.00,1979.0,1943.10,1956.0,1959.05,1958.46,10909942,2.136664e+10,343806,3800598,34.84
1321,RELIANCE,EQ,4-May-21,1959.05,1950.00,1967.8,1911.00,1918.0,1916.60,1935.83,10083693,1.952033e+10,325798,4435071,43.98
1322,RELIANCE,EQ,5-May-21,1916.60,1923.35,1938.5,1908.05,1921.5,1920.10,1923.26,5719649,1.100036e+10,190990,1762417,30.81
1323,RELIANCE,EQ,6-May-21,1920.10,1921.85,1935.0,1906.60,1932.0,1931.00,1920.95,6749281,1.296502e+10,221666,2830835,41.94

In [5]:
stock.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [6]:
df=pd.DataFrame({'Close':stock['Close Price'],'Trades':stock['No. of Trades']})
df

        Close  Trades
0     1015.35   30701
1      995.30   66235
2     1005.15   59935
3     1032.20  160947
4     1013.25  105075
...       ...     ...
1319  1994.50  288687
1320  1959.05  343806
1321  1916.60  325798
1322  1920.10  190990
1323  1931.00  221666

[1324 rows x 2 columns]

In [7]:
dfTest = df[df['Trades']>100000]
dfTest

        Close  Trades
3     1032.20  160947
4     1013.25  105075
5     1025.75  176664
6     1051.60  135818
7     1045.45  143685
...       ...     ...
1319  1994.50  288687
1320  1959.05  343806
1321  1916.60  325798
1322  1920.10  190990
1323  1931.00  221666

[942 rows x 2 columns]

In [8]:
df[df['Trades']>100000].mean()

Close       1401.256051
Trades    246092.899151
dtype: float64

# Hypothesis testing

### H0: For trades>100000, the avg close price is less than or equal to 1400 INR.
### H1: For trades>100000, the avg close price is more 1400 INR.

In [9]:
sample=dfTest.sample(300)
sample

        Close  Trades
297   1297.65  101204
802   1349.25  171701
1207  1996.40  507695
1040  1015.70  441083
671   1253.15  171172
...       ...     ...
881   1273.55  231082
1174  2216.25  213955
1106  1727.85  488048
799   1341.75  216597
732   1129.90  123031

[300 rows x 2 columns]

In [10]:
sample.Close.mean()

1422.2711666666667

## z test

In [11]:
#standard deviation of the population
sd=np.std(sample['Close'])
sd

393.9543927626295

In [12]:
sample.std()

Close        394.612629
Trades    161492.666292
dtype: float64

In [13]:
xbar=sample.Close.mean()
mu=dfTest.Close.mean()
n=300 #sample size
alpha=0.05

In [14]:
xbar

1422.2711666666667

In [15]:
mu

1401.2560509554157

In [16]:
zvalue=(xbar-mu)/(sd/np.sqrt(n))
zvalue

0.9239457360425303

In [17]:
z_critical = st.norm.ppf(alpha)  #One tail Test
z_critical

-1.6448536269514729

In [18]:
if (zvalue<z_critical and abs(zvalue)> abs(z_critical)):
  print("Reject Null Hypotheisis")
else:
  print("Fail to reject Null Hypothesis")

Fail to reject Null Hypothesis

## Test using p value

In [19]:
p_val = (1 - st.norm.cdf(abs(zvalue)))
p_val

0.17775728448826378

In [20]:
#comparing with alpha value
if p_val<alpha:
  print("Reject Null Hypotheisis")
else:
  print("Fail to reject Null Hypothesis")

Fail to reject Null Hypothesis

### Hence for trades>100000, the avg price is less than 1400INR, i.e, we fail to reject the Null Hypothesis

## T test

In [21]:
tsample=df.sample(25)
tsample

        Close  Trades
623    964.50  309468
823   1392.80  210909
582    976.70   96826
632   1092.55  110961
622    990.10  114594
283   1207.50  529232
1215  1947.80  356793
44    1006.40   51720
355   1331.70   61841
957   1459.20  128242
308   1270.65  113795
394   1650.10  100320
399   1584.35   82027
184   1083.70   97669
1190  2124.60  399065
1187  2175.80  287579
350   1328.25   79314
663   1229.15  210884
681   1231.70  186000
270   1033.65   48459
705   1104.10  156053
10    1073.30  136461
498    914.80  101162
1074  1561.80  727915
246   1082.40   71421

In [22]:
t_sd=np.std(tsample['Close'])
t_sd

348.4256514437478

In [28]:
xbar=tsample.Close.mean()
mu=dfTest.Close.mean()
n=25 #sample size
alpha=0.05

In [29]:
print('xbar :', xbar)
print('mu :', mu)

xbar : 1312.704
mu : 1401.2560509554157

In [30]:
n = 25
degrees_of_freedom = n-1
t = (xbar - mu)/(t_sd / np.sqrt(n))
t

-1.2707452879615584

In [31]:
t_critical = st.t.ppf(alpha, degrees_of_freedom)
t_critical

-1.7108820799094282

In [32]:
if (t > t_critical):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Null hypothesis cannot be rejected

### Both Z test and T test suggest the same ie., The Null Hypothesis cannot be rejected.